<div class="container wrapper">
  <%= simple_form_for [@recette, @quantite] do |f| %>
    <div class="row">
      <%= f.association :ingredient, label_method: :nom, label: "Ingrédient" %>
      <div class="flex-display-end">
        <%= f.input :dose, collection: [1, 5, 10, 15, 20, 25, 30, 35, 40, 45, 50, 55], label: "Quantité" %>
        <%= f.input :unite_mesure, collection: ["gramme", "centilitre", "litre", "pincée", "pas d'unité de mesure"], label: false %>
      </div>
    </div>
    <div class="flex-display-end">
      <%= f.submit "Ajouter", class: "btn-ok" %>
      <%= link_to "Annuler", recette_path(@recette), class: "btn-no" %>
    </div>
  <% end %>
</div>

