<div class="container wrapper">
  <% if @recette.photo.present? %>
    <div class="header" style="background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url('<%= cl_image_path @recette.photo.key, crop: :fill %>');">
      <h1><%= @recette.nom %></h1>
      <%= link_to edit_recette_path(@recette), class: "edit-recette" do %>
        <p>Editer <i class="fas fa-keyboard"></i></p>
      <% end %>
    </div>
  <% else %>
    <div class="header" style="background-image: linear-gradient(rgba(255,255,255,0.4), rgba(255,255,255,0.4)), url('https://res.cloudinary.com/dh7kybknc/image/upload/v1586046184/default_2_kncvcv.jpg');">
      <h1><%= @recette.nom %></h1>
      <%= link_to edit_recette_path(@recette), class: "edit-recette" do %>
        <p>Editer <i class="fas fa-keyboard"></i></p>
      <% end %>
    </div>
  <% end %>
  <% if @recette.auteur.present? %>
    <% if @recette.team.present? %>
      <div class="container auteur">
        <p>Ajoutée par <%= @recette.auteur %> de l'équipe <%= @recette.team %> </p>
      </div>
    <% else %>
      <div class="container auteur">
        <p>Ajoutée par <%= @recette.auteur %> </p>
      </div>
    <% end %>
  <% end %>
  <div class="container wrapper">
    <div class="infos-temps">
      <p>Temps total: <span class="bleu"><%= @temps_total %></span> minutes</p>
      <p>Temps de préparation : <span class="bleu"><%= @recette.temps_preparation %></span> minutes</p>
      <% if @recette.temps_cuisson = 0%>
        <p>Temps de cuisson : pas de cuisson</p>
      <% else %>
        <p>Temps de cuisson : <span class="bleu"><%= @recette.temps_cuisson %></span> minutes</p>
      <% end %>
    </div>
    <div class="infos">
      <p>Pour <span class="bleu"><%= @recette.nombre_personne%></span> personnes</p>
      <div class="difficulte">
        <p><%= @difficulte %></p>
        <% if @difficulte = "Très facile" %>
          <div class="flex-row">
            <i class="fas fa-circle colored"></i><i class="fas fa-circle"></i><i class="fas fa-circle"></i><i class="fas fa-circle"></i>
          </div>
        <% elsif @difficulte = "Facile" %>
          <div class="flex-row">
            <i class="fas fa-circle colored"></i><i class="fas fa-circle colored"></i><i class="fas fa-circle"></i><i class="fas fa-circle"></i>
          </div>
        <% elsif @difficulte = "Moyen" %>
          <div class="flex-row">
            <i class="fas fa-circle colored"></i><i class="fas fa-circle colored"></i><i class="fas fa-circle colored"></i><i class="fas fa-circle"></i>
          </div>
        <% elsif @difficulte = "Difficile" %>
          <div class="flex-row">
            <i class="fas fa-circle colored"></i><i class="fas fa-circle colored"></i><i class="fas fa-circle colored"></i><i class="fas fa-circle colored"></i>
          </div>
        <% end %>
      </div>
    </div>
    <div class="row">
      <div class="col-xs-12 col-md-4">
        <div class="ingredient">
          <h2>Ingrédients <%= link_to new_recette_quantite_path(@recette) do %>
            <i class="fas fa-plus-square"></i>
          <% end %></h2>
          <% @recette.quantites.each do |quantite|%>
            <% if quantite.dose == 1 && quantite.unite_mesure != "pas d'unité de mesure" %>
              <p><%= quantite.ingredient.nom %> — <%= quantite.dose %> <%= quantite.unite_mesure %>
            <% elsif quantite.unite_mesure == "pas d'unité de mesure" %>
              <p><%= quantite.ingredient.nom %> — <%= quantite.dose %>
            <% else %>
              <p><%= quantite.ingredient.nom %> — <%= quantite.dose %> <%= quantite.unite_mesure %>s
            <% end %>
            <%= link_to quantite_path(quantite), method: :delete, data: { confirm: "Êtes-vous sûr de vouloir supprimer cet ingrédient ?" } do %>
                <i class="fas fa-trash-alt"></i>
            <% end %></p>
          <% end %>

        </div>
      </div>
      <div class="col-xs-12 col-md-8">
        <div class="contenu">
          <h2>Description</h2>
          <p><%= simple_format(@recette.description) %></p>
        </div>
      </div>
    </div>
  </div>
</div>



