<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="logo">
    <%= link_to root_path, class: "navbar-brand" do %>
      <%= image_tag "logo.png" %>
    <% end %>
  </div>
  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <div class="center">
      <%= link_to 'Toutes les recettes', recettes_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to 'Ajouter une recette', new_recette_path, class: "navbar-wagon-item navbar-wagon-link" %>
      <%= link_to 'À propos', a_propos_path, class: "navbar-wagon-item navbar-wagon-link" %>
    </div>
  </div>
</div>
